<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="ioloveuu" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="ioloveuu's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style>{% include style.css %}</style>
  </head>

  {{ content }}
  <canvas></canvas>
    <script>
        document.addEventListener('touchmove',function(e){
            e.preventDefault()
        })
        var c = document.getElementsByTagName('canvas')[0],
            x = c.getContext('2d'),
            pr = window.devicePixelRatio || 1,
            w = window.innerWidth,
            h = window.innerHeight,
            f = 90,
            q,
            m = Math,
            r = 0,
            u = m.PI*2,
            v = m.cos,
            z= m.random
        c.width = w*pr
        c.height = h*pr
        x.scale(pr,pr)
        x.globalAlpha = 0.6
        function i(){
            x.clearRect(0,0,w,h)
            q = [{x:0,y:h*.7+f},{x:0,y:h*.7-f}]
            while(q[1].x<w+f) d(q[0],q[1])
        }
        function d(i,j){
            x.beginPath()
            x.moveTo(i.x,i.y)
            x.lineTo(j.x,j.y)
            var k = j.x +(z()*2-0.25)*f,
            n = y(j.y)
            x.lineTo(k,n)
            x.closePath()
            r-=u/-50
            x.fillStyle = '#'+(v(r)*127+128<<16 | v(r+u/3)*127+128<<8 | v(r+u/3*2)*127+128).toString(16)
            x.fill()
            q[0] = q[1]
            q[1] = {x:k,y:n}
        }
        function y(p){
            var t = p + (z()*2-1.1)*f
            return (t>h || t<0) ? y(p) : t
        }
        document.onmouseover = i
        document.ontouchstart = i
        i()

    </script>
</html>
